@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

header{
    z-index: 10001 !important;
}

.btn-primary{
    @apply bg-brandPrimary text-white  py-2 px-4 transition-all duration-300 rounded hover:bg-neutralDGrey hover:-translate-y-2;
}